[buildout]
develop = .
parts = test
extends = http://grok.zope.org/releaseinfo/grok-0.14.cfg
versions = versions

[versions]
lxml = 2.2.1
zope.testing = 3.6.0
zc.sourcefactory = 0.3.5

[test]
recipe = zc.recipe.testrunner
eggs = z3c.relationfield [xml]
defaults = ['--tests-pattern', '^f?tests$', '-v']
